.tituloTexto, .tituloVideo, .preguntas {
  text-align: center;
  font-size: 2rem;
  margin-top: 40px;
  font-weight: 700; }

.textoPrincipal, .respuestas {
  font-size: 1.5rem;
  font-family: 'Arial Narrow', Arial, sans-serif;
  margin-top: 50px;
  margin-right: 40px;
  margin-bottom: 60px;
  margin-left: 80px;
  text-align: justify;
  background-color: antiquewhite;
  padding: 15px;
  border-radius: 10px;
  line-height: 1.6; }

/* RESETEO */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* FIN DE RESETEO */
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-template-areas: "header" "main" "footer";
  width: 100%;
  height: 100vh; }

header {
  text-align: center;
  background-color: #c56d10; }
  header .row {
    display: flex; }
    header .row img {
      height: 100px; }

.navbar .navbar-nav {
  justify-content: space-between;
  font-weight: 600;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .navbar .navbar-nav .nav-link:hover {
    color: white;
    background-color: black;
    border-radius: 10%;
    transition: all 1.5s; }

.imagen1 {
  width: 100%; }

.video1 {
  margin-left: 10%;
  margin-bottom: 5%;
  width: 80%; }

.imagen2 {
  width: 100%; }

.imagen3 {
  width: 100%; }

.bgNosotros {
  background-color: black; }

.tituloNosotros {
  text-align: center;
  font-size: 35px; }

.textoNosotros {
  margin-top: 50px;
  color: white;
  text-align: center; }
  .textoNosotros .textoNosotros1 {
    text-align: center;
    font-size: 1.5rem;
    margin: 50px 40px 60px 80px; }

.mainContacto {
  background-image: url(/multimedia/Nota_2_carrusel_Signos-de-felicidad_feb_mobile.jpg);
  background-size: cover; }

.btn-primary {
  background-color: black;
  border-color: #c56d10; }

footer {
  grid-area: footer;
  text-align: center;
  background-color: #c56d10;
  font-size: 0.9; }
  footer .redes {
    margin-top: 20px; }

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    header img {
      margin-top: 20px;
      height: 60px; } }

.navbar .navbar-nav {
  font-size: 0.9rem; }

.video1 iframe {
  width: 100%; }

@media screen and (max-width: 500px) {
  .textoPrincipal, .respuestas {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.3rem;
    text-align: justify;
    border-radius: 10px; }
  .textoNosotros .textoNosotros1 {
    text-align: justify;
    margin: 80px 30px 80px 30px; }
  .video1 {
    width: 80%; } }
