.tituloTexto, .tituloVideo, .preguntas {
  text-align: center;
  font-size: 2rem;
  margin-top: 40px;
  font-weight: 700; }

.textoPrincipal, .respuestas {
  font-size: 1.5rem;
  font-family: 'Arial Narrow', Arial, sans-serif;
  margin-top: 50px;
  margin-right: 40px;
  margin-bottom: 60px;
  margin-left: 80px;
  text-align: justify;
  background-color: antiquewhite;
  padding: 15px;
  border-radius: 10px;
  line-height: 1.6; }

/* RESETEO */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* FIN DE RESETEO */
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-template-areas: "header" "main" "footer";
  width: 100%;
  height: 100vh; }

header {
  text-align: center;
  background-color: #c56d10; }
  header .row {
    display: flex; }
    header .row img {
      height: 100px; }

.navbar-nav {
  justify-content: space-between;
  font-weight: 600;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.imagen1 {
  width: 100%; }

.video1 {
  margin: 30px;
  text-align: center; }

.video1 iframe {
  width: 50%; }

.imagen2 {
  width: 100%; }

.imagen3 {
  width: 100%; }

.bgNosotros {
  background-color: black; }

.textoNosotros {
  margin-top: 50px;
  color: white;
  text-align: center; }

.tituloNosotros {
  text-align: center;
  font-size: 35px; }

.textoNosotros1 {
  text-align: center;
  font-size: 25px;
  margin: 50px 40px 60px 80px; }

.mainContacto {
  background-image: url(/multimedia/pexels-alina-vilchenko-5643798.jpg);
  background-size: cover; }

.btn-primary {
  background-color: black;
  border-color: #c56d10; }

footer {
  grid-area: footer;
  text-align: center;
  background-color: #c56d10;
  font-size: 0.9; }
  footer .redes {
    margin-top: 20px; }

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    header img {
      margin-top: 20px;
      height: 80px; } }

.textoPrincipal, .respuestas {
  margin-left: 5%; }

.video1 iframe {
  width: 100%; }

@media screen and (max-width: 500px) {
  .textoPrincipal, .respuestas {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1rem;
    text-align: justify;
    border-radius: 10px; }
  .textoNosotro {
    text-align: justify; }
  article {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .video1 iframe {
    align-items: flex-start;
    width: 100%; } }
