@media screen and (max-width : 768px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .logo{
            height: 85px;
            
            img{
                margin-top: 20px;
                height: 80px;
            }
        }
        
       
    }


    .video1 iframe {
        width: 100%;
    }




}

@media screen and (max-width: 500px) {

    header {
        display: flex;
        flex-direction: column;
        height: 200px;
        .logo{
            height: 1000px;
            margin-right: 50px;
            img{
                margin-top: 20px;
                height: 80px; 
            }

        }
    }


    #navbarSupportedContent {
        ul{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 50px;
            
            }
    }

    .textoPrincipal {
        font-size: 1rem;
        margin-top: 50px;
        margin-right: 40px;
        margin-left: 80px;
        text-align: justify;

        padding: 15px;
        border-radius: 10px;
    }


    article {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    .video1 iframe {
        width: 100%;
    }


}