@media only screen and (max-width: 768px) and (min-width: 300px) {   
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;            
            img{
                margin-top: 20px;
                height: 60px;
            }
        }       
    } 
    .navbar .navbar-nav{
        font-size: 0.9rem;
    }

    .textoPrincipal{
        margin-left: 50px;
        margin-right: 50px;
    }

    
    @media screen and (max-width: 500px) {    
        .textoPrincipal {
            margin-left: 10%;
            margin-right: 10%;
            font-size: 1.3rem;    
            text-align: justify;
            border-radius: 10px;
        }    
        .textoNosotros{
            .textoNosotros1{
                text-align:justify;
                margin: 80px 30px 80px 30px ;
            }       
        }  
        
        .video1 iframe{
            width: 100%;
        }
    }