$colorHeader:  rgb(197, 109, 16);
$TipoLetraHeader: 'Permanent Marker', cursive;
$colorLetrasHeader: black;
$hover: white;
$tipoLetraMenu: Verdana, Geneva, Tahoma, sans-serif;

$textoIndex: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$fondoTextoIndex:antiquewhite;

$interLineado: line-height 1.6;

$textoRespuestas:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$fondoTextoRespuestas:antiquewhite;

$colorFondoNosotro: black;
$textoNostros: white;