$colorHeader:  rgb(197, 109, 16);
$colorLetrasHeader: black;
$hover: white;
$tipoLetraMenu: Verdana, Geneva, Tahoma, sans-serif;

$textoIndex: 'roboto';
$fondoTextoIndex:antiquewhite;

$interLineado: line-height 1.6;

$textoRespuestas:'roboto';
$fondoTextoRespuestas:antiquewhite;

$colorFondoNosotro: black;
$textoNostros: white;