
.imagen3  {
    width: 100%;
}

.textoNosotros {
    background-color: $colorFondoNosotro;
    color: $textoNostros ;
    text-align: center;

}

.tituloNosotros {
    text-align: center;
    font-size: 35px;
}

.textoNosotros1 {
    text-align: center;
    font-size: 25px;
    margin: 50px 40px 60px 80px;
}
